.detailContainer {
  padding: 1rem;
}

.detailImageContainer {
  position: relative;
  height: 200px;
}

.detailIngredient {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.detailInstructionsStep {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}
