.item {
  list-style: none;
}

.itemLink {
  display: block;
}

.itemName {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem 1rem;
  text-align: center;
}

.itemImageContainer {
  position: relative;
  display: block;
  height: 200px;
}

@media (min-width: 768px) {
  .itemLink {
    display: flex;
    flex-direction: column;
  }

  .itemImageContainer {
    order: 0;
    height: 200px;
    width: 100%;
  }

  .itemName {
    order: 1;
  }
}
