.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 56px;
  height: 56px;
  border: 0;
  border-radius: 56px;
  background-color: red;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 16px;
  right: 16px;

  cursor: pointer;
  z-index: 10;

  transition: all 0.15s ease-in;
}

.button:hover {
  background-color: #ff4040;
}

.button:active {
  background-color: #ff8080;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
}
