.navigationBarButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
