.homeHeader {
  text-align: center;
}

.homeHeaderImagesContainer {
  display: block;
  position: relative;
  height: 33vh;
}

.homeLogoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.homeAppName {
  color: #666;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
}

.homeRecipesList {
  margin: 3rem 0 0;
}

@media (min-width: 768px) {
  .homeHeaderImagesContainer {
    height: 240px;
  }
}
