.searchContainer {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;

  background-color: white;
  display: flex;
  flex-direction: column;
}

.searchNavBar {
  flex-grow: 0;
}

.searchResults {
  background-color: white;
  overflow: auto;
  flex-grow: 1;
}

.searchMessage {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
